@import url('https://fonts.googleapis.com/css?family=Cabin');


.interior, .exterior, .commercial, .pressure {
  width: 100%; /* Image takes the full width on mobile */
  max-width: 600px; /* Maximum width */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center if container is wider than max-width */
  font-family: "Cabin";
}

.container-description{
  padding-bottom: 5%;
  font-family: "Cabin";
  display: block;
}



.about-services{
  font-size: 18px;
  padding: 50px;
}
body {
  overflow-x: hidden;
}


.image-container {
  position: relative;
  width: 100%; /* Ensure container takes up full width */
  overflow: hidden; /* Ensures anything outside the container bounds is hidden */
  

}

.image-container img{
  opacity: 0.6;
}

.img-fluid {
  display: block;
  width: 100%;
  height: 300px; /* Initial height */
  object-fit: cover; /* This will make sure your image covers the div without distortion */
}

.service {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 24px; 
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 40px;
}

/* Responsive adjustments */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .img-fluid {
      height: 200px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .img-fluid {
      height: 150px; /* Adjust height for very small screens */
  }
}





.btn-custom{
  background-color: #12213E;
  color: white;
 
}