@font-face {
    font-family: "General Sans";
    src: url('../../GeneralSans_Complete/Fonts/Variable/GeneralSans-Variable.ttf') format('woff2');
  }
  

body{
    font-family: "General Sans";

}
.location-text{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;

}



.main-header{
    font-size: 55px;
    font-weight: bold;
}


.image-circles{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 200px;
    height:200px;
    border-radius: 70%;
    margin-bottom:10%;
}

.parallax-locations{
    background-image: url('../../images/rainer.jpeg');
  

    filter: brightness(50%);
    width:100%;
    height:30%;
    min-height: 700px;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


