@font-face {
    font-family: "General Sans";
    src: url('../../GeneralSans_Complete/Fonts/Variable/GeneralSans-Variable.ttf') format('woff2');
  }
  

.values-that-drive-work{
    margin-bottom:1%;
}


.pressure-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%); 
    font-weight: bolder;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 60px;
    font-family: "General Sans";
}

.quote-container-pressure{
    background-color: #12213E;
    color:white;
    margin-bottom:10%;
}
.pressure-right{
    width:100%;
    height:100%;
}

.explore:hover{
    background-color: white;
    border: #E25141 1px solid;
    color:#E25141;
}

.container-faq{
    
    width:80%;
    margin: 0 auto;
    margin-top:10%;
    margin-bottom: 10%;

}



.pressure-services-image{
    width: 100%;
    height:80%;
    transition: transform 0.3s ease-in-out; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    margin-bottom:5%;
    margin-top:5%;

}


.pressure-services-image:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}

.pressure-main{
    font-family: "General Sans";
    margin-bottom: 10%;
 
}

.pressure-services-image{
    width: 100%;
    height:80%;
}

.pressure-services{
    font-family: "General Sans";
    color: black;
}

.parallax-pressure {
  
    background-image: url('../../images/pressure-page.png');
  

    filter: brightness(60%);
    width:100%;
    height:30%;
    min-height: 700px;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.marquee-container img{
    width:auto;
    height: 50px;
    margin-right:110px;
   
    
}

.marquee-container{
    margin-bottom:5%;
}

.suppliers{
    margin-top:5%;
    margin-bottom: 5%;
    font-family: "General Sans";
    font-weight: bold;
}


.other-caption-pressure{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the text */
    color: white;
    font-family: "General Sans" !important;
    font-weight: bolder;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top:auto;
  }

.free-quote{
    background-color: #121212;
}