@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
    box-sizing: border-box;
}

.background-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 800px;
    color: white;
    font-family: "Cabin";
    padding-top:5%;
}

.background-container::before {
    content: "";
    background: url('../../images/paint.jpg') center/cover no-repeat;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding-top:5%;
}

.text-section {
    padding: 20px;
    color: black !important;
    font-weight: light;
    font-family: "Cabin" !important;
    word-wrap: break-word;
}

.small-header {
    font-weight: lighter !important;
    font-size: 40px;
    font-family: "Cabin" !important;
}

.paragraph {
    color: white;
    font-weight: lighter;
    word-wrap: break-word;
}


.services{
    align-items: center;
}

.header {
    align-self: center;
    font-size: 80px;
    color: white;
    font-weight: regular !important;
    margin-top: 50px;
    font-family: "Cabin" !important;
}

.overlay-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    width: 80%;
    padding-bottom: 10%;
}

.why-us {
    font-family: "Cabin";
    background-color: rgba(3, 169, 244, 0.04);
    width: 100%;
    padding-bottom: 10%;
}

.why-us h2 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.explore {
    align-self: center;
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: #DB3B25;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 23px;
    font-weight: bolder;
    transition: opacity 0.3s ease;
}

.explore:hover {
    background-color: #DB3B25;
    color: white;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .header {
        font-size: 40px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}
