
@import url('https://fonts.googleapis.com/css?family=Quicksand');
 

@media only screen and (max-width: 768px) {
  .btn {
         
      box-sizing: border-box; /* Ensure padding and border are included in the width */
  }

 
}

.goals-container{
  margin-top:5%;
}

.who-we-are-container{
  margin-top: 10%;
}


.house{
    width: 100%;
    height: 30%;
    opacity: 0.8;
    padding-bottom: 5%;
    filter: brightness(50%);
}




.img-text {
  position: relative;
  width: 100%; /* you can set to your desired width */
  height: 600px;
  
  }

  .img-text img{
    width: 100%;
    height: 700px;
    object-fit:fill;
    
    
  }
  

 
 
  .button-estimate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%); /* center the text */
    color: white;
    font-family: "Quicksand" !important;
    font-weight: bolder;
    font-size: 50px;
    word-spacing: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

.other-caption{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); /* center the text */
  color: white;
  font-family: "Quicksand" !important;
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
  
  .text {
    color: white;
    font-size: 24px;
    font-weight: lig;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  

  .fire {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -200%);
    border-radius: 0px;
    background-color:  #12213E;
    color:white;
    font-family: 'Quicksand' !important;
    left: 50%;
    transform: translateX(-50%); /* center the button horizontally */
  
  }

  
  .fire:hover {
    background-color: white;
    color: black !important;
    border: #12213E solid 1px;
  }
  
  .our-goal{
    font-weight: bolder;
    padding-top: 7%;
    align-items: center;
    font-family: "Quicksand";
    color:#12213E;
    
   
  }

  .goal{
    font-family: "Quicksand";
    text-align: center;
    margin-bottom: 0%;
    font-weight: bold;
    font-size: large;
  }

 
  .for-us{
    margin-bottom: 3%;
    font-family: "Quicksand";
    font-weight: lighter;
    padding-left: 10%;
    padding-right:10%;
    font-size: medium;
  }

  .image-container {
    display: flex;
    justify-content: center; 
    gap: 20px;
  }
  
  .image-wrapper {
    position: relative;
    width: 300px;
    height: 200px;
    align-content: center;
   
  }
  
  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
    opacity: 0.3;
    
  }



  .explore{
    font-family: "Quicksand";
    display: block;
    justify-content: center;
    font-size: 20px;
    background-color: #E25141;
    color: white ;
    font-family: "Quicksand";
    text-align: center;
    align-items: center;
   
  }

 

  .explore-div{
    margin-top:5%;
    margin-bottom:5%;
  }

  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: black;
    font-size: 35px;
    font-family: "Quicksand";
   
    
  }
  
  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #12213E !important;
    color:white !important;
    opacity: 0;
    transition: opacity 0.3s;
   
  }
  
  .image-wrapper:hover img {
    opacity: 0.55;
    
   
  }
  

  .image-wrapper:hover .hover-text {
   color: white !important;
   
  }
  
  .image-wrapper:hover .hover-overlay {
    opacity: 1;

  
  }
  

  .content-wrapper {
    background-color: #12213E;
    display: flex;
    justify-content: space-between; /* Horizontally space out direct children */
    align-items: center; /* Vertically center the direct children */
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    gap: 1rem; /* Set a gap between the items, adjust as needed */
   
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .content-wrapper > div {
      width: 100%; /* Take full width on smaller screens */
  }
}


.text-area, .image-section {
  flex: 1; /* Each takes up half the width of the container */
}

.image-on-right {

  max-width: 100%; 
  height: auto; 
  margin-top: 0%;
}

.btn-block {
  max-width: 300px; 
  margin: 0 auto; 
  border-radius: 0;
  
}

.container{
  display: block;
}


.text-area {
  flex: 1;   /* Takes up 50% of the parent's width */
  padding-right: 20px;  /* Spacing between text and images */
  font-family: "Quicksand";
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  align-items: center; 
  color: White!important;
  font-weight: 100;
   
}


.image-section {
  flex: 1;  /* Takes up 50% of the parent's width */
  display: flex;
  align-items: center;
  justify-content: right;
  padding-left: 10%;
    
}



.Who{
  color: #12213E;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 10%;
  font-size: 55px;
  font-family: "Quicksand";
  font-weight: bolder;
}

.location{
  font-weight: bold;
  font-style: italic;
  margin-bottom:5%;

  font-family: "Quicksand";
}

.first-paragraph{
  font-family: "Quicksand";
  padding-right: 10%;
  padding-bottom: 5%;
  font-size:large;
  padding-left: 5%;
  font-weight: lighter !important;
}


.row{
  text-align: center;
}

.second-paragraph{
  font-family: "Quicksand";
  padding-bottom: 6%;
  padding-right: 10%;
  font-size: large;
  padding-left: 5%;
  opacity:1;
}

.start{
  display: block;
  justify-content: center;
  font-size: 25px !important;
  background-color: #E25141;
  color: white ;
  font-family: "Quicksand";
  text-align: center;
  align-items: center;
  
}
.explore:hover {
  background-color: #E25141; 
  color: white;
}


.start:hover{
 
  border: #E25141 solid 1px;
  color:#E25141;
}
