
@font-face {
  font-family: "General Sans";
  src: url('../../ClashDisplay_Complete/Fonts/Variable/ClashDisplay-Variable.ttf') format('woff2');
}

 

@media only screen and (max-width: 768px) {
  .btn {
         
      box-sizing: border-box; 
  }

 
}

.goals-container{
  margin-top:5%;
}

.who-we-are-container{
  margin-top: 10%;
}


.house{
    width: 100%;
    height: 30%;
    opacity: 0.8;
    filter: brightness(50%);
}


.intro{
  margin-top:15%;
  margin-bottom:10%;
}

.intro h4{
  color:#E25141;
}


.img-text {
  position: relative;
  width: 100%; 
  height: 600px;
  
  }

  .img-text img{
    width: 100%;
    height: 700px;
    object-fit:fill;
    
    
  }
  

 
 
  .button-estimate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%); /* center the text */
    color: white;
    font-family: "General Sans" !important;
    font-weight: bolder;
    font-size: 50px;
    word-spacing: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

.other-caption{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); /* center the text */
  color: white;
  font-family: "General Sans" !important;
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top:auto;
}
  
  .text {
    color: white;
    font-size: 24px;
    font-weight: lig;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  

  .fire {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -200%);
    border-radius: 0px;
    background-color:  #12213E;
    color:white;
    font-family: 'General Sans' !important;
    left: 50%;
    transform: translateX(-50%); /* center the button horizontally */
  
  }

  
  .fire:hover {
    background-color: white;
    color: black !important;
    border: #12213E solid 1px;
  }
  
  .our-goal{
    font-weight: bolder;
    padding-top: 7%;
    align-items: center;
    font-family: "General Sans";
    color:#12213E;
    
   
  }

  .goal{
    font-family: "General Sans";
    text-align: center;
    margin-bottom: 0%;
    font-weight: bold;
    font-size: large;
  }

 
  .for-us{
    margin-bottom: 3%;
    font-family: "General Sans";
    padding-left: 10%;
    padding-right:10%;
    text-align: left;
    
  }

  .interior{
    width: 100%;
    height:100%;
  }

  .image-wrapper {
    position: relative;
    
    align-content: center;
    margin-top:5%;
   
  }
  
  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
    opacity: 0.4;
    
  }



  .explore{
    font-family: "General Sans";
    display: block;
    justify-content: center;
    font-size: 20px;
    background-color: #E25141;
    color: white ;
    font-family: "General Sans";
    text-align: center;
    align-items: center;
    
   
  }

 

  .explore-div{
    margin-top:5%;
    margin-bottom:5%;
  }

  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: black;
    font-size: 35px;
    font-family: "General Sans";
   
    
  }
  
  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #12213E !important;
    color:white !important;
    opacity: 0;
    transition: opacity 0.3s;
   
  }

  .parallax-home{
    

    min-height: 700px;
    
    filter: brightness(70%);

    background-image: url('../../images/house.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .image-wrapper:hover img {
    opacity: 0.55;
    
   
  }
  

  .image-wrapper:hover .hover-text {
   color: white !important;
   
  }
  
  .image-wrapper:hover .hover-overlay {
    opacity: 1;

  
  }
  

  .content-wrapper {
    background-color: #12213E;
    display: flex;
    justify-content: space-between; /* Horizontally space out direct children */
    align-items: center; /* Vertically center the direct children */
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    gap: 1rem; 
   
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .content-wrapper > div {
      width: 100%; /* Take full width on smaller screens */
  }
}


.text-area, .image-section {
  flex: 1; /* Each takes up half the width of the container */
}

.image-on-right {
  width:100%;
  height: 100%; 
}

.btn-block {
  max-width: 300px; 
  margin: 0 auto; 
  border-radius: 0;
  
}

.container{
  display: block;
}


.text-area {
  flex: 1;   /* Takes up 50% of the parent's width */
  padding-right: 20px;  /* Spacing between text and images */
  font-family: "General Sans";
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  align-items: center; 
  color: White!important;
  font-weight: 100;
   
}


.image-section {
  flex: 1;  /* Takes up 50% of the parent's width */
  display: flex;
  align-items: center;
  justify-content: right;
  padding-left: 10%;
    
}



.Who{
  color: black;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
  font-size: 55px;
  font-family: "General Sans";
  font-weight: bold;
}

.about-sucasa-container{
  background-color: rgb(243, 243, 243);
}

.home-town{
  font-weight: bold;
  font-style: italic;
  margin-bottom:5%;
  font-family: "General Sans";
}

.first-paragraph{
  font-family: "General Sans";
  padding:5%;
  margin-top:5%;
  font-size:larger;
  text-align: left;
  font-weight: lighter !important;
}


.row{
  text-align: center;
}

.second-paragraph{
  font-family: "General Sans";
  font-size: larger;
  opacity:1;
  text-align: left;
  font-weight: lighter;
  padding:5%;

}

.start{
  display: block;
  justify-content: center;
  font-size: 25px !important;
  background-color: #E25141;
  color: white ;
  font-family: "General Sans";
  text-align: center;
  align-items: center;
  
}

.explore:hover {
  background-color: #E25141; 
  color: white;
}


.start:hover{
  border: #E25141 solid 1px;
  color:#E25141;
}
