
@import url('https://fonts.googleapis.com/css?family=Cabin');
 
.house{
    width: 100%;
    height: 700px;
    opacity: 0.5;
    padding-bottom: 100px;
}


.spanish{
  position: absolute; /* This will position the text over your image */
    bottom: 0px; /* This positions the div at the bottom of the image */
    width: 100%; /* This will ensure the div spans the full width of its container */
    text-align: center; /* This will center the text */
    background-color: #DB3B25; /* This adds a semi-transparent black background */
    color: white; 
    padding: 5px 0; /* This adds some padding at the top and bottom */
    font-family: "Cabin" !important;
    font-size: 25px;
    font-style: italic;
    font-style: bold;
}


.img-text {
  position: relative;
  width: 100%; /* you can set to your desired width */
  height: 600px;
  
  }

  .img-text img{
    width: 100%;
    height: 700px;
    object-fit:fill;
    
    
  }
  

 

  .button-estimate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%); /* center the text */
    color: rgb(8, 3, 3);
    font-family: "Cabin" !important;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }


  .text {
    color: white;
    font-size: 24px;
    font-weight: lig;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  

  .fire {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -150%);
    border-radius: 30px;
    background-color: #12213E;
    color: white;
    font-family: 'Cabin' !important;
    left: 50%;
    transform: translateX(-50%); /* center the button horizontally */
    z-index: 1;
  }

  
  .fire:hover {
    background-color: white;
    color: black !important;
  }
  
  .our-goal{
    font-weight: bolder;
    padding-top: 7%;
  }

  .goal{
    font-family: "Cabin";
    text-align: center;
    padding-bottom: 5%;
    font-weight: bold;
    font-size: large;
  }

 
  .for-us{
    padding-bottom: 5%;
    font-family: "Cabin";
    font-weight: lighter;
    padding-left: 10%;
    padding-right:10%;
    font-size: medium;
  }

  .image-container {
    display: flex;
    justify-content: center; 
    gap: 20px;
  }
  
  .image-wrapper {
    position: relative;
    width: 300px;
    height: 200px;
  }
  
  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
    opacity: 0.3;
  }

  
  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: black;
    font-size: 35px;
    font-family: "Cabin";
   
    
  }
  
  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #12213E !important;
    color:white !important;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-wrapper:hover img {
    opacity: 0.55;
   
  }
  

  .image-wrapper:hover .hover-text {
   color: white !important;
   
  }
  
  .image-wrapper:hover .hover-overlay {
    opacity: 1;
  
  }
  

  .content-wrapper {
    background-color: #12213E;
    display: flex;
    justify-content: space-between; /* Horizontally space out direct children */
    align-items: center; /* Vertically center the direct children */
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    gap: 1rem; /* Set a gap between the items, adjust as needed */
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .content-wrapper > div {
      width: 100%; /* Take full width on smaller screens */
  }
}


.text-area, .image-section {
  flex: 1; /* Each takes up half the width of the container */
}

.image-on-right {
  max-width: 100%; /* Image does not exceed its container */
  height: auto; /* Maintain aspect ratio */
}

.btn-block {
  max-width: 300px; /* Adjust as needed */
  margin: 0 auto; /* Center the button if it's not full width */
}


.text-area {
  flex: 1;   /* Takes up 50% of the parent's width */
  padding-right: 20px;  /* Spacing between text and images */
  font-family: "Cabin";
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  align-items: center; 
  color: White!important;
  font-weight: 100;
   
}

.image-section {
  flex: 1;  /* Takes up 50% of the parent's width */
  display: flex;
  align-items: center;
  justify-content: right;
  padding-left: 10%;
    
}



.Who{
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: left;
  padding-left: 5%;
  font-size: 55px;
  font-family: "Cabin";
  font-weight: bolder;
}

.location{
  padding-bottom: 5%;
  padding-left: 15%;
  font-family: "Cabin";
}

.first-paragraph{
  font-family: "Cabin";
  padding-bottom: 5%;
  font-size:large;
  padding-left: 15%;
  font-weight: lighter !important;
}

.second-paragraph{
  font-family: "Cabin";
  padding-bottom: 6%;
  font-size: large;
  padding-left: 15%;
  
  opacity:1;
}

.start{
  justify-content: center;
  border-radius: 5px;
  font-size: 30px !important;
  background-color: #DB3B25 !important;
  color: white !important;
  font-family: "Cabin";
  
}


.blurred-img {
  background-image: url('../../images/house-small.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred-img img {
  opacity: 0;
}