@font-face {
    font-family: "General Sans";
    src: url('../../GeneralSans_Complete/Fonts/Variable/GeneralSans-Variable.ttf') format('woff2');
  }

.contact_header{
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the text */
    color: white;
    font-family: "General Sans";
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top:auto;
}


input.input-error,
select.input-error{
    border-color: red ;
}


.form-button{
    background-color:purple;
    margin-top:5%;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.form-button:disabled{
    background-color:gray;
}

.parallax-contact {
  
    background-image: url('../../images/contact.jpeg');
    filter: brightness(60%);
    width:100%;
    height:30%;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .other-caption-contact{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the text */
    color: white;
    font-family: "General Sans" !important;
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top:auto;
  }


.contact-form{
   
    padding:3%;
    background-color: aliceblue;
}

.form-label{
    font-size:25px;
    font-family: 'General Sans';
}

.contact-input{
    margin-top:5%;
}


.errors{
    color:red;
    font-size: large;
    font-family: "General Sans";
}


.form-button{
    background-color: #E25141;
    color: white;
}

.form-button:hover{
    background-color: #E25141;
    color: white;
}

.contact-header {
    color: #E25141;
    font-family: "General Sans";
    margin-top:5%;
}

.contact-header h4{
    color: #12213E;
    font-weight: lighter;
}

.map{
    width: 100%;
    height:100%;
    
}

.all-stuff{
    margin-top: 5%;
    margin-bottom:10%;
}
