@import url('https://fonts.googleapis.com/css?family=Cabin');


.logo{
  height: 100px;
}

.navbar .dropdown-toggle::after {
  display: none;
}


.top-navbar{
  background-color:#12213E;
}

.top-navbar h3{
  font-family: "Cabin";
  color:white;
  font-size: medium;
}

.my-link{
  font-size: 22px;
  font-family: "Cabin";
  color: black;
}


.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 100; 
  opacity: 0.8;
  font-family: "Cabin";
}

@media (max-width: 768px) {
  h3 {
    font-size: small;
    text-align: center;
  }

  .nav-links {
    font-size: 18px;
    font-family: "Cabin";
  }

  .logo {
    height: 60px; /* Adjust logo size for mobile */
  }
  
  .bottom-navbar {
    padding: 0.5rem 0;  /* Reduce padding for mobile */
  }

 
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 992px) {
  h3 {
    font-size: medium;
  }

  .nav-links {
    font-size: 18px;
  }
  
  .logo {
    height: 80px; /* Adjust logo size for tablet */
  }
}


